# Python
.venv/
__pycache__/
*.pyc

# Streamlit
.streamlit/secrets.toml

# Data / local indexes
data/tmp/*
data/vector_stores/*
!data/tmp/.gitkeep
!data/vector_stores/.gitkeep

# OS
.DS_Store
Thumbs.db